/* src/components/widget/widget.scss */

:root {
    --primary-green: #2d6a4f;
    --light-green: #95d5b2;
    --dark-green: #1b4332;
    --background-gray: #f7f8f8;
    --text-dark: #344e41;
  }
  
  .widget {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 15px; /* Slightly increased padding for better spacing */
    background-color: var(--light-green);
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.1);
    border-radius: 10px;
    height: 138px; /* Minimal increase in height for blog content */
  
    .left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: var(--text-dark);
  
      .blogTitle {
        font-weight: bold;
        font-size: 16px; /* Adjusted font size for blog title */
        color: #2d6a4f;
        margin-bottom: 5px;
      }
  
      .blogExcerpt {
        font-size: 13px; /* Font size for the excerpt */
        font-weight: 300;
        color: #616161;
        margin-bottom: 8px;
      }
  
      .readMore {
        font-size: 12px;
        border-bottom: 1px solid gray;
        cursor: pointer;
        color: #2d6a4f;
        
      }
    }
  
    .right {
      /* Optionally add icons or visual elements */
    }
  }
  